.container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
